# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# Node
frontend/node_modules/
node_modules/

# Vite
frontend/dist/

# Python cache
*.pyc
*.pyo
*.pyd

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PostgreSQL
*.sqlite3